/*  */

.header_logo img {
  display: block;
  height: 80px;
  margin: 15px auto;
}
.header_logo nav {
  background: rgba(12, 12, 12, 0.884);
}
.header_logo nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 15px;
  /* margin-left: 10px;
  margin-right: 10px; */
  transition: 0.4s;
}
.header_logo nav a:hover {
  background: rgb(197, 62, 62);
}
